@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Caveat:wght@400;600&display=swap');
img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
@media (max-width: 655px) {
    img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}