.page {
    height: 100vh;
    padding: 0;
    width: 100vw;
    overflow: hidden;
}
.fullHeight {
    height: 100vh;
}
.greenButton {
    background-color: rgb(0, 110, 0);
    border: none;
    color: white;
}
.greyButton {
    background-color: rgb(142, 142, 142);
    border: none;
    color: white;
    pointer-events: none;
    opacity: 0.5;
}

.greenButton:hover {
    background: rgb(2, 72, 2) !important;
    color: white !important;
}
.greenButton.active {
    background: rgb(2, 70, 2) !important;
}
.whitishBGColor {
    background-color: rgb(251, 250, 250);
}
.whiteBGColor {
    background-color: rgb(255, 255, 255) !important;
}
.logo {
    width: 140px;
    height: 140px;
    object-fit: contain;

}
.imgBorder {
    border: 2px solid rgb(0, 84, 0);
    border-radius: 50%;
    padding: 5px;
}
.databaseimage {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.greenishcolor {
    /*background: linear-gradient(to right, rgb(2, 101, 2), rgb(3, 107, 3));*/
    background: rgb(0, 84, 0) !important;
}
.sideContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
        
}
.database1 {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

.pulse {
    color: rgb(2, 101, 2);
    font-size: 24px;
    text-align: center;
    background:  #ffffff;
    border-radius: 15px;
    animation: pulsate 4s infinite;
}
.pulseimg {
    animation: pulsate 4s infinite;
}
.height {
    font-size: small;
}
.scrollable {
    width: 100% !important;
    height: 90vh !important;
    overflow-y: auto;
    scrollbar-width: thin;
}
@keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.12);
    }
    100% {
      transform: scale(1);
    }
}

@media (min-width: 768px) {
    .mdSize {
      font-size: 1.5rem;
    }
}

.fontSize1 {
    font-size: 1.05rem;
    margin: 0;
}
@media (max-width: 600px) {
    .fontSize1 {
        font-size: 0.9rem;
        margin: 0;
    }
}
.fontSize2 {
    font-size: 0.8rem;
}
.lineColor {
    border: 1px solid rgb(0, 84, 0) !important;}
.box {
    width: 80%;
    border: green solid 2px !important;
    border-radius: 1rem;
    padding: 2rem 0;
}
.smallSpinner {
    width: 1rem;  /* Adjust width */
    height: 1rem; /* Adjust height */
}
.errorMessage {
    color: red;
    font-size: 0.8rem;
}
@media (max-width: 840px) {
    .box {
        width: 100%;
        padding: 1rem 0;
    }
}
@media (max-width: 768px) {
    .box {
        width: 100%;
        padding: 0;
    }
}
.alert {
    position: fixed;
    width: 80%;
    height: auto;
    top: 20px;
    left: 50%;
    font-size: 1rem;
    transform: translateX(-50%);
    z-index: 1000;
}
.closeBtn:focus, .closeBtn:focus-visible, .closeBtn:focus-within {
    box-shadow: none !important;
    outline: none !important;
}
.btnLinkCon {
    position: relative;
}
.btnLink {
    position: absolute;
    top: 0;
    right: 0;
    color: green;
    font-size: 1.2rem;
    text-decoration: none;
}
@media (max-width: 768px) {
    .btnLink {
        font-size: 1rem;
        right: -40px;
    }
}
@media (max-width: 480px) {
    .btnLink {
        font-size: 0.9rem;
        right: -40px;
    }
}
.btnLink:hover, .btnLink:focus, .btnLink:active, .btnLink:active {
    box-shadow: none !important;
    outline: none !important;
    color: rgb(0, 97, 0) !important;
}