.navBar {
    width: 100%;
    height: auto;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.09);
    background: white;
    padding: 0 10vw;
}
.navCon {
    padding: 0.5rem 0 !important;
}
.content {
    flex-grow: 1;
    background-color: #F7FFF7;
}
.mainCont {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden !important; /* Prevents horizontal scrolling */
    scrollbar-width: thin;
    scrollbar-color: #8888886e #f1f1f1;
}
.logo1 {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.logo2 {
    font-size: 1.1rem;
    font-family: sans-serif;
    text-decoration: none;
    color: #027405;
}
.showHam {
    display: none;
}

.hideHam {
    display: none;
}

.navButtons {
    display: block;
    color: #027405 !important;
    margin: 0rem 2rem
}
.navButtons:hover, .navButtons:focus, .navButtons:active, .navButtons:active {
    color: #003602 !important;
}
.greenFill {
    background-color: #027405 !important;
    color: white;
    border-radius: 0.5rem;
    padding: 0.4rem 2rem;
    border: 2px solid #027405;

}
.greenFill:hover, .greenFill:focus, .greenFill:active, .greenFill:active {
    color: #027405;
    background-color: white !important;
    box-sizing: content-box;
}
.hideHam {
    display: none;
}
.container {
    padding: 0 calc(10vw + 0.7rem) !important;
}
.regButton {
    font-size: 1rem;
}
@media (max-width: 995px) {
    .navBar {
        height: 40px;
        padding: 0 3rem;
    }
    .container {
        padding: 0 3.7rem !important;
    }
    .navCon {
        padding: 0.3rem 0 !important;
    }
    .greenFill {
        padding: 0.2rem 1.6rem;
    }
    .navFont {
        font-size: 0.9rem;
    }
    .logo1 {
        width: 20px;
        height: 20px;
    }
    .logo2 {
        font-size: 0.9rem;
    }
}
@media (max-width: 768px) {
    .navBar {
        height: 40px;
        padding: 0 2rem;
    }
    .container {
        padding: 0 2.7rem !important;
    }
    .logo1 {
        width: 20px;
        height: 20px;
    }
    .logo2 {
        font-size: 0.85rem;
    }
    
}
@media (max-width: 655px) {
    .navCon {
        display: block !important;
        padding: 0 1.5rem;
    }
    .showHam {
        display: block;
        margin-left: auto !important;
    }
    .blockNav {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .hideHam {
        display: block;
        padding: 0 !important;
    }
    .greenFill {
        display: none !important;
    }
    .navButtons {
        margin: 12px !important;
    }
    .navBar {
        padding-top: 0.5rem;
        height: auto;
        position: fixed;
    }
    .container {
        padding: 1rem 3rem !important;
    }
    .navDrop {
        display: none !important;
        transition: all 0.4s ease-in-out;
    }
    .regButton {
        display: flex !important;
    }
}
.mainBody {
    height: 40rem;
}
.infoCont {
    height: fit-content;
    display: block;
    border-radius: 4rem;
    background-color: #E6FEE7;
}
.infoCont:nth-child(1) {
    font-size: 2.2rem;
    color: #027405;
}
.infoCont > h1:nth-child(2) {
    font-size: 1.1rem;
    font-weight: 350;
    color: black;
    line-height: 1.5;
}
.infoCont > h1:nth-child(4) {
    font-size: 1rem;
    color: black;
    font-weight: 200;
}
.infoCont > ul:nth-child(5) {
    list-style-type: square;
    font-size: 1rem;
    color: black;
}

.mainCont::-webkit-scrollbar {
    position: absolute;
    right: 0;
    width: 8px;
}
.mainCont::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.mainCont::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
.mainCont::-webkit-scrollbar:hover {
    background: #555;
}
